@{
    ViewData["Title"] = "Главная страница"; //@model 
    //bool IsAuthenticated = (bool)ViewData["IsAuthenticated"];
}

<h3>Доступный функционал:</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Описание</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Информация о себе</td>
        <td><a asp-controller="Account" asp-action="Info" class="btn btn-primary" >Перейти</a></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Создать мероприятие</td>
        <td><a asp-controller="Functions" asp-action="CreateEvent" class="btn btn-primary" >Перейти</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Заполнить анкету</td>
      <td><a asp-controller="Functions" asp-action="StudentAnceta" class="btn btn-primary">Перейти</a></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Собщить об участии в событии(ях)</td>
    <td><a asp-controller="Functions" asp-action="EventsInfo" class="btn btn-primary">Перейти</a></td>
  </tr>
</tbody>
</table>