@{
    ViewData["Title"] = "Связь";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    г. Березники<br />
    дом в чистом поле<br />
    <abbr title="Телефон">Mobile:</abbr>
    +7951945043*
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:nekomata93@gmail.com">nekomata93@gmail.com</a><br />
</address>
