@model IEnumerable<Group>
@{
    ViewData["Title"] = "Группы ВУЗа";
    int row_index = 1;
    int id_ei = (int)ViewData["id_EventInfo"];
}

<table class="table">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название группы</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var g in Model)
    {
    <tr>
      <td scope="row">@(row_index++)</td>
      <td>@g.name_group</td>
      <td><a asp-controller="Functions" asp-action="CheckInEvent" asp-route-id_gr=@g.id_group asp-route-id_ei=@id_ei class="btn btn-primary" >Перейти</a></td>
    </tr>
    }
  </tbody>
</table>