@model EventInfo
@{
    ViewData["Title"] = "Создание события";
    int ChangedBy = (int)ViewData["id_man"];
}
<div class="panel-body">
  <form asp-controller="Functions" asp-action="CreateEvent" method="POST" >
          <fieldset>
            <legend class="row col-md-offset-1">Создание события</legend>
            <div class="form-group row">
              <label asp-for="DateOfThe" class="col-md-2 control-label">Ожидаемая дата проведения:</label>
              <input type="text" id="datepicker" class="form-control" asp-for="DateOfThe" value=@Model.DateOfThe />
            </div>
            <div class="form-group row">
              <label asp-for="Name" class="col-md-2 control-label">Название события:</label>
              <input class="form-control" asp-for="Name" value=@Model.Name />
            </div>
            <div class="form-group row">
              <label asp-for="Notation" class="col-md-2 control-label">Примачание к событию:</label>
              <input class="form-control" asp-for="Notation" value=@Model.Notation />
            </div>
            <div>
              <input type="hidden" asp-for="ChangedBy" value=@ChangedBy />
            </div>
            <div class="form-group row">
              <label>&nbsp;</label>
              <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
          </fieldset>
  </form>
</div>