@model IEnumerable<EventInfo>
@{
    ViewData["Title"] = "EventsInfo";
}

<table class="table">
    <thead>
    <tr>
      <th scope="col">Название события</th>
      <th scope="col">Дата события</th>
      <th scope="col">Примечание к событию</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var ei in Model)
    {
    <tr>
      <td>@ei.Name</td>
      <td>@ei.DateOfThe</td>
      <td>@ei.Notation</td>
      <td><a asp-controller="Functions" asp-action="EditEventInfo" asp-route-id=@ei.id_EventInfo class="btn btn-primary" >Изменить</a></td>
      <td><a asp-controller="Functions" asp-action="RemoveEventInfo" asp-route-id=@ei.id_EventInfo class="btn btn-primary" >Удалить</a></td>
    </tr>
    }
  </tbody>
</table>

