@model IEnumerable<Group>
@{
    ViewData["Title"] = "Группы ВУЗа";
    int row_index = 1;
    bool IsAuthenticated = (bool)ViewData["IsAuthenticated"];
    bool IsCurator = IsAuthenticated? (bool)ViewData["IsCurator"] : false;
    string ID = (string)ViewData["UserId"];
}

<table class="table">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название группы</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var g in Model)
    {
    <tr>
      <td scope="row">@(row_index++)</td>
      <td>@g.name_group</td>
      <td><a asp-controller="Functions" asp-action="OneGroupInfo" asp-route-id=@g.id_group class="btn btn-primary" >Перейти</a></td>
      @if(IsAuthenticated)
      {
        @if(IsCurator && (g.kurator == ID))
        {
          <td><a asp-controller="Functions" asp-action="MessageToGroup" asp-route-id=@g.id_group class="btn btn-primary" >Написать</a></td>
        }
      }
    </tr>
    }
  </tbody>
</table>